@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Courgette&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Macondo+Swash+Caps&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
    --blue: #2878EB;
    --red: #F14D5D;
    --light: #ECF4FF;
    --dark: #120F2D;
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 5rem;
}
p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 2rem 0;
}
.h-blue{
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 500;
}
.logo h1{
    font-size: 5rem;
    color:var(--blue) ;
}
.logo h1 span{
    color: var(--red);
}
.logo{
    margin-left: 2rem;
}
.btn-blue{
    color: #fff;
    font-size: 1.6rem;
    transition: all .3s ease;
    font-weight: 600;
    padding: 1.7rem 3rem;
    background-color: var(--blue);
}
.btn-blue:hover{
    background-color: var(--red);
}
.btn-red{
    color: #fff;
    font-size: 1.6rem;
    transition: all .3s ease;
    font-weight: 600;
    padding: 1.7rem 3rem;
    background-color: var(--red);
}
.btn-red:hover{
    background-color: var(--blue);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    top: 0;
    height: 8rem;
    border-bottom: 1px solid #2879eb16;
    background-color: #fff;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}
nav ul li {
    margin: 0 2rem;
}
nav ul li a{
    font-size: 2rem;
    color: var(--dark);
    font-weight: 600;
    transition: all .3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
}
nav ul li a::after{
    content: '';
    width: 0%;
    position: absolute;
    height: .6rem;
    left: 50%;
    bottom: 0;
    background-color: var(--blue);
    transition: all .3s ease;
}
nav ul li a:hover::after{
    left: 0%;
    width: 100%;
}

nav ul li a:hover{
    color: var(--blue);
}
.nav-main{
    display: flex;
    height: 100%;
}
.nav-phone{
    background-color: var(--red);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}
.nav-phone span{
    font-size: 2rem;
    color: #fff;
}
.nav-phone i{
    font-size: 2rem;
    color: #fff;
    margin-right: 1rem;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 8rem);
    background-image: url(carousel-1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
#hero::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000005a;
    z-index: 1;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    padding: 0 5rem;
    text-align: center;
}
.hero h1 {
    margin: 2rem 0;
    color: #fff;
}
.hero h2{
    color: #fff;
}
.btn-hero{
    margin-top: 3rem;
}
.btn-hero .btn-blue{
    margin: 0 1rem;
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    margin-right: 2rem;
    display: none;
}
.hambar{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #120F2D;
    transition: all .3s ease;
}
.hambar:nth-child(1){
    top: 18px;
}
.hambar:nth-child(3){
    bottom: 18px;
}
.hamburger.active .hambar:nth-child(1){
    top: initial;
    transform: rotate(45deg);
}
.hamburger.active .hambar:nth-child(2){
    opacity: 0;
}
.hamburger.active .hambar:nth-child(3){
    bottom: initial;
    transform: rotate(-45deg);
}
/* About Us */
#aboutus{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 6rem 0;
}
.aboutus-img{
    width: 450px;
    height: 600px;
}
.aboutus-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutus{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 3rem;
    width: 700px;
}
.aboutus h1{
    font-size: 5rem;
    margin: 2rem 0;
}
.aboutus h4{
    font-style: italic;
    font-size: 2rem;
    color: #767676;
}
.aboutus p{
    font-size: 1.8rem;
    color: #767676;
}
.aboutus-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.aboutus-box{
    width: 49%;
    height: 200px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}
.aboutus-box span{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
}
.aboutus-blue span{
    background-color: var(--red);
}
.aboutus-red span{
    background-color: var(--blue);
}
.aboutus-box i{
    font-size: 6rem;
}
.aboutus-box h2{
    font-size: 2.5rem;
    margin-top: 2rem;
}
.aboutus-blue{
    background-color: var(--blue);
}
.aboutus-red{
    background-color: var(--red);
}
/* Services */
#services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7rem 0;
}
.headers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding:  0 3rem;
    width: 600px;
}
.headers h1{
    margin: 2rem 0;
    margin-bottom: 4rem;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.services-box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3rem;
    background-color:#ECF4FF ;
    cursor: pointer;
    width: 400px;
    position: relative;
    z-index: 3;
    margin: 2rem 1.5rem;
}
.services-box span{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: var(--blue);
}
.services-box::after{
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: var(--blue);
    opacity: 0;
    transition: all .6s ease;
    z-index: -1;
}
.services-box:hover::after{
    width: 100%;
    opacity: 1;
}
.services-box i{
    font-size: 5rem;
    transition: all .3s ease-in-out;
    color: var(--red);
}
.services-box h3{
    margin-top: 3rem;
    font-size: 2rem;
    transition: all .3s ease-in-out;
    color: var(--blue);
}
.services-box:hover h3 , .services-box:hover h2 , .services-box:hover i ,.services-box:hover .services-btn , .services-box:hover p {
   color: #fff;
}
.services-box p{
    transition: all .3s ease-in-out;
}
.services-box h2{
    font-size: 2.5rem;
    margin: 1rem 0;
    transition: all .3s ease-in-out;
    margin-bottom: 1.5rem;
}
.services-btn{
    color: var(--blue);
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    font-size: 1.7rem;
}
.services-btn i{
    transition: all .3s ease-in-out;
    font-size: 1.7rem;
    margin-left: 1rem;
    color: var(--blue);
}
/* Price */
#price{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.price-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    margin: 4rem 2rem;
}
.price-box-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
}
.price-box-head-blue{
    background-color: var(--blue);
}
.price-box-head-red{
    background-color: var(--red);
}
.price-box-head h2{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}
.price-box-head h1 {
    font-size: 5rem;
    color: #fff;
}
.price-box-head h1 sup{
    font-size: 2rem;
}
.price-box-head h1 sub{
    font-size: 2rem;
}
.price-box-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
}
.price-box .btn-blue{
    padding: .8rem 2rem;
    transform: translateY(20px);
}
.price-box .btn-red{
    padding: .8rem 2rem;
    transform: translateY(20px);
}
.price-box-blue{
    border-right: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
}
.price-box-red{
    border-right: 1px solid var(--red);
    border-left: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
}
.price-box-desc ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    width: 100%;
}
.price-box-desc ul li {
    font-size: 1.6rem;
    margin: 1rem 0;
}
.price-box-desc ul hr{
    width: 100%;
    height: 1px;
    outline: none;
    border: none;
    background-color: #eaeaea;
}
/* Offer */
#offer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 0;
    background-image: url(carousel-2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}
#offer::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000005a;
    z-index: -1;
}
.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffff;
    padding: 0 3rem;
    width: 700px;
}
.offer h2{
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-weight: 500;
}
/* Team */
#team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.team-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    margin: 2rem 2.5rem;
}
.team-box-img{
    position: relative;
    width: 100%;
}
.team-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-box-desc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--blue);
    padding: 2rem .5rem;
    color: #fff;
}
.team-box-desc h2{
    font-size: 2.5rem;
}
.team-box-desc h4{
    font-size: 1.7rem;
    font-weight: 400;
}
.team-box-ico{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: -30px;
    bottom: 0;
    background-color: #fff;
}
.team-box-ico i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
    transition: all .3s ease;
    font-size: 2rem;
    width: 35px;
    height: 35px;
    border: 1px solid var(--red);
    border-radius: 3px;
    margin: .5rem 0;
    cursor: pointer;
}
.team-box-ico i:hover{
    background-color: var(--red);
    color: #fff;
}
/* Testimonial */
#testi{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.testi{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.testi-header{
    margin-bottom: 4rem;
}
.testi-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex-direction: column;
    height: 230px;
    padding: 2rem 2rem;
    width: 400px;
    text-align: center;
    margin: 4rem 2rem;
    background-color: #ECF4FF;
}
.testi-box-active{
    transition: all .3s ease;
}
.testi-box:hover {
    height: 330px;

}
.testi-box-active:hover{
    background-color: var(--blue);
    color: #fff;
}
.testi-box img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50% , -50%);
    top: -0px;
    transition: all .5s ease;
    border: 4px solid transparent;
}
.testi-box:hover img{
    top: 30%;
    border: 4px solid #fff;
    transform:translate(-50% , -50%) rotate(0deg) scale(1.3);
}
.testi-box p{
    font-size: 1.7rem;
}
.testi-box h2{
    font-size: 2.2rem;
}
.testi-box h5{
    font-size: 1.6rem;
    font-weight: 300;
}
@media screen and (max-width:1350px) {
    .aboutus {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-left: 3rem;
        width: 551px;
    }
    .services-box {
        width: 350px;
    }
    .team-box {
        width: 280px;
    }
    .testi-box {
        width: 354px;
    }
}
@media screen and (max-width:1200px) {
    .aboutus h1 {
        font-size: 4rem;
    }
    .aboutus-img {
        width: 360px;
        height: 590px;
    }
    .services-box {
        width: 285px;
    }
    .team-box {
        width: 260px;
    }
}
@media screen and (max-width:1000px) {
    .logo h1 {
        font-size: 3rem;
    }
    #aboutus{
        flex-direction: column;
        align-items: center;
    }
    .aboutus{
        margin-top: 5rem ;
    }
    .aboutus-img {
        width: 550px;
        height: 590px;
    }
    .aboutus {
        margin-left: 0;
        width: 90%;
    }
    .services-box{
        width: 300px;
    }
}
@media screen and (max-width:900px) {
    .hamburger{
        display: inherit;
    }
    .nav-main{
        position: fixed;
        top: 8rem;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        height: fit-content;
        z-index: 100;
        display: none;
        transition: all .5s ease;
    }
    nav.active .nav-main{
        display: flex;
    }
    .nav-phone{
        padding: 2rem 2rem;
    }
    .offer {
        width: 90%;
    }
}
@media screen and (max-width:800px) {

}
@media screen and (max-width:700px) {
    h1 {
        font-size: 4rem;
    }
    .aboutus-img {
        width: 90%;
        height: auto;
    }
    .services-box{
        width: 90%;
    }
    .services-header {
        width: 90%;
    }
    .headers {
        width: 90%;
    }
    .testi-box {
        width: 70%;
    }
    .testi-box:hover {
        height: 360px;
    }
}
@media screen and (max-width:600px) {
    .hero {
        padding: 0 2rem;
    }
    .btn-hero{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-hero .btn-blue{
        margin: 0;
        margin-bottom: 2rem;
    }
    .aboutus h1 {
        font-size: 3rem;
    }
    .aboutus-flex {
       flex-direction: column;
    }
    .aboutus-box{
        width: 100%;
    }
    .offer {
        width: 100%;
    }  
    .team-box {
        width: 80%;
    }
    .team-box-ico{
        right: -20px;
    }
}
@media screen and (max-width:500px) {
    h1 {
        font-size: 3rem;
    }
    nav ul {
        flex-direction: column;
    }
    .price-box {
        width: 90%;
    }
    .offer h2{
        font-size: 1.7rem;
    }
    .offer {
        padding: 0 1rem;
    }  
    .testi-box {
        width: 90%;
    }
}
@media screen and (max-width:350px) {
    .testi-box:hover {
        height: 390px;
    }
}